.main-image img {
    width: 85%;
    height: auto;
    border-radius: 10px;
}

.child-images {
    display: flex;
    margin-top: 2px;

}

.child-images img {
    width: auto;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.child-images img:hover {
    opacity: 0.8;
}
.learn-more {
    background-color: #1584f9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: #003d82;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .laptop-images {
        margin-right: 0;
        margin-bottom: 20px;
    }
}